.navbar{
    margin-bottom: 10px;
}
.cost{
    width: 100px;
}
.search{
    width: 300px;
    margin-left: 30px;
}
.main{
    width: 80%;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
}
.product_box{
    background-color: rgba(48, 63, 73, 0.664);
    position: relative;
    /* border: 3px solid rgb(48, 63, 73); */
    padding: 5px;
    width: 30%;
    min-width: 350px;
    height: 300px;
    margin: 12.5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    transition: transform 0.5s ease;
}



.thing{
    flex-grow: 1;
    max-height: 11%;
    width: 48%;
    word-break: break-all;
    margin: 1px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    border-radius: 5px;
}
.img_box{
    flex-grow: 8;
    min-height: 86%;            
    object-fit: cover;
    object-position: center center;
    background-color: rgb(69, 69, 74);
    border-radius: 5px;
}
.text{
    flex-grow: 8;
    min-height: 86%;            
    overflow:hidden;
    text-align: left;
    font-size: 19px;
    align-items: flex-start;
}
.update_btn{
    position: absolute;
    bottom: -15px;
    right: -15px;
    background-color: rgb(48, 63, 73);
    border-radius: 5px;
    border: 2px solid rgb(48, 63, 73);
}
.update_btn:hover{
    color: rgb(48, 63, 73);
    background-color: rgb(139, 171, 201);
}
.delete_btn:hover{
    color: rgb(48, 63, 73);
    background-color: rgb(139, 171, 201);
}
.delete_btn{
    height: 25px;
    width: 25px;
    position: absolute;
    top: -8px;
    left: -15px;
    font-size: 20px;
    text-align: center;
    background-color: rgb(48, 63, 73);
    color: rgb(216, 220, 223);
    border-radius: 5px;
    border: 2px solid rgb(48, 63, 73);
    padding: 0;
}
.tab_big_box{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
}
.tab_box{
    margin: auto;
    margin: auto;
    width: 50%;
    height: 75%;
    border: 10px solid rgb(48, 63, 73);
    background-color: rgb(139, 171, 201);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}
.tab_bar{
    width: 100%;
    text-align: center;
    font-size: 60px;
    color: rgb(253, 246, 237);
    font-weight: 600;
    background-color: rgb(48, 63, 73);
    display: flex;
    justify-content: space-around;
}
.tab{
    background-color: rgb(48, 63, 73);
    color: rgb(139, 171, 201);
    width: 25%;
    padding: 30px 0px;
    border: 2px solid rgb(139, 171, 201);
    border-radius: 10px 10px 0px 0px;
    cursor: pointer;
}
.tab:hover{
    background-color: rgb(139, 171, 201);
    color: rgb(48, 63, 73);
    border: 2px solid rgb(48, 63, 73);
    border-bottom: 2px solid rgb(139, 171, 201);
}
.tab_click{
    background-color: rgb(139, 171, 201);
    color: rgb(48, 63, 73);
    border: 2px solid rgb(48, 63, 73);
    border-bottom: 2px solid rgb(139, 171, 201);
}
.tab_type{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.product_type{
    width: calc(460px/1.5);
    height: calc(360px/1.5);
    background-color: rgb(139, 171, 201);
    cursor: pointer;
}
.product_type>.thing{
    height: initial;
    font-size: 10px;
    border: 1px solid rgb(48, 63, 73);
    display: flex;
    align-items: center;
    justify-content: center;
}
.tab_data{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}
.tab_view{
    display: flex;
    justify-content: center;
    margin: auto 0px;
}
.data_box{
    display: flex;
    margin: 20px 0px;
}
.text_box{
    padding: 10px;
}
.product_btn{
    border: 8px solid rgb(48, 63, 73);
    background-color: rgb(48, 63, 73);
    color: rgb(139, 171, 201);
    border-radius: 10px;
    font-size: 60px;
    margin: 30px 0px;
}
.product_btn:hover{
    background-color: rgb(139, 171, 201);
    color: rgb(48, 63, 73);            
}        
